@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl text-center font-logo;
    }

    h2 {
        @apply text-xl text-center font-logo;
    }

    h3 {
        @apply text-lg text-center font-logo;
    }

    a:not(.black) {
        @apply text-primary visited:text-primary-alternative font-logo underline hover:text-primary-accent;
    }

    pre {
        @apply whitespace-pre text-left font-mono bg-gray-100 w-full;
    }

    ul {
        @apply list-disc list-inside
    }

    ol {
        @apply list-decimal list-inside
    }

    hr {
        @apply my-8 h-px bg-gray-400
    }

    blockquote {
        @apply p-4 my-4 bg-gray-50 border-l-4 border-gray-300 leading-relaxed italic
    }

    p, .p {
        @apply p-4
    }
}

@layer components {
    html, body, #root {
        @apply h-full
    }

    input,textarea {
        @apply p-2 border accent-primary-accent border-gray-200 rounded-lg
    }

    input[type='date']:before {
        color: #aaa;
        content: attr(data-date-placeholder) ':\00a0';
    }

    input[type="checkbox"] {
        @apply scale-125 my-2 mx-1 accent-primary-accent
    }

    /* Select field placeholder styling */
    select:required:invalid {
        @apply text-gray-500;
    }

    option[disabled] {
        @apply text-gray-500
    }

    option {
        @apply text-black
    }

    button,.button {
        @apply transition-colors duration-150 focus:ring disabled:opacity-75 disabled:bg-gray-600 disabled:text-gray-200;
        cursor: pointer
    }

    .icon {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    i.rs-facebook {
        color: #3b5998;
    }

    i.rs-instagram {
        color: #E1306C;
    }

    i.rs-whatsapp {
        color: #25D366;
    }

    i.rs-messenger {
        color: #00C6FF;
    }

    i.rs-mail {
        color: black;
    }

    i.rs-podcast {
        color: white;
        background: #8940fa;
        border-radius: 50%;
    }


    .rs-xs {
        font-size: .66em;
    }

    .rs-sm {
        font-size: .875em;
    }

    .rs-lg {
        font-size: 1.66667em;
        line-height: 0.75em;
        vertical-align: -.0667em;
    }

    .rs-2xl {
        font-size: 2rem;
    }

    .rs-3xl {
        font-size: 3rem;
    }

    .rs-4xl {
        font-size: 4rem;
    }

    .rs-star-full:before, .rs-star-half:before, .rs-star-empty:before {
        margin: 0.05rem
    }

    .rs-mail:before { content: '\e800'; } /* '' */
    .rs-messenger:before { content: '\e801'; } /* '' */
    .rs-facebook:before { content: '\e802'; } /* '' */
    .rs-star-full:before { content: '\e803'; } /* '' */
    .rs-skype:before { content: '\e804'; } /* '' */
    .rs-podcast:before { content: '\e805'; } /* '' */
    .rs-star-empty:before { content: '\e806'; } /* '' */
    .rs-menu:before { content: '\f0c9'; } /* '' */
    .rs-star-half:before { content: '\f123'; } /* '' */
    .rs-link-ext:before { content: '\f14c'; } /* '' */
    .rs-instagram:before { content: '\f16d'; } /* '' */
    .rs-whatsapp:before { content: '\f232'; } /* '' */

}
