@import "rs/styles.css";

.icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

i.rs-facebook {
    color: #3b5998;
}

i.rs-instagram {
    color: #E1306C;
}

i.rs-whatsapp {
    color: #25D366;
}

i.rs-messenger {
    color: #00C6FF;
}

i.rs-mail {
    color: black;
}

i.rs-podcast {
    color: white;
    background: #8940fa;
    border-radius: 50%;
}


.rs-xs {
    font-size: .66em;
}

.rs-sm {
    font-size: .875em;
}

.rs-lg {
    font-size: 1.66667em;
    line-height: 0.75em;
    vertical-align: -.0667em;
}

.rs-2xl {
    font-size: 2rem;
}

.rs-3xl {
    font-size: 3rem;
}

.rs-4xl {
    font-size: 4rem;
}

.rs-star-full:before, .rs-star-half:before, .rs-star-empty:before {
    margin: 0.05rem
}

.rs-mail:before { content: '\e800'; } /* '' */
.rs-messenger:before { content: '\e801'; } /* '' */
.rs-facebook:before { content: '\e802'; } /* '' */
.rs-star-full:before { content: '\e803'; } /* '' */
.rs-skype:before { content: '\e804'; } /* '' */
.rs-podcast:before { content: '\e805'; } /* '' */
.rs-star-empty:before { content: '\e806'; } /* '' */
.rs-menu:before { content: '\f0c9'; } /* '' */
.rs-star-half:before { content: '\f123'; } /* '' */
.rs-link-ext:before { content: '\f14c'; } /* '' */
.rs-instagram:before { content: '\f16d'; } /* '' */
.rs-whatsapp:before { content: '\f232'; } /* '' */
